body{
	background-color: aqua;
	}

h1{
	font-family: "comic sans ms";
	color:darkblue;
	text-align: center;
}

h4{
	text-align: right;
	font-family: arial;
	font-style: italic;
}

p{
	text-indent: 50px;
	font-family: verdana;
}

h3{
	font-variant: small-caps;
}

.p1{
	color: salmon;
	text-align: center;
}

#p2{
	line-height: 100px;
	text-align:center; 
	color:darkred;
}

.index{
	text-decoration:none;
	color: blue;
	font-weight:bold;
}

.index:hover{
	color: red;
	text-decoration:underline;
}
